* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/Corrida-de-Rua-para-Iniciantes_-5-Dicas-Essenciais-para-Comecar-com-o-Pe-Direito-Banner-Site-1024x597.jpg.webp);
    background-size: cover;
   
}

form {
    padding: 50px;
    position: fixed;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 214, 161);
    box-shadow: 0px 15px 15px 15px rgba(255, 208, 0, 0.582);
    animation: show 1s ease-in-out;
}

@keyframes show {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    padding: 5px;
    margin: 5px;
    width: 20rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 26, 255);
    border-radius: 7px;

}

input:focus {
    border-bottom: 2px solid rgb(0, 26, 255);
    background-color: #e8e8e8;
    transition: 1s;
}

.grupoLabelInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

button {
    margin-top: 20px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(0, 26, 255);
    width: 160px;
}

button:hover {
    background-color: rgb(0, 12, 121);
    color: white;
    transition: 1s;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.inputs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 700;
    font-size: 15px;
    padding-left: 5px;
}

/* Estilos para o campo de senha */
.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}


.password-wrapper input {
    margin: 5px;
    padding-right: 35px; 
}


#toggleIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: rgb(0, 26, 255); 
    font-size: 18px;
    transition: 0.3s;
}

#toggleIcon:hover {
    color: rgb(0, 12, 121);
}

footer{
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 13px;
    margin-top: 930px;
    animation: show 1s ease-in-out;
}

.help{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    padding: 2px;
    width: 50px;
    height: 50px;
    background-color:  rgb(32, 152, 192);
    border-radius: 50px;
    color: white;
    overflow: hidden; 

}
.help:hover{
    background-color: rgb(19, 96, 121);
    color: white;
    transition: 1s;
    cursor: pointer;
     width: 51px;
    height: 51px;
}
.help img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: white;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /*o item não esteja visível*/
    align-items: center;
    justify-content: center;
}

.imageContainer{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.modal{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.button-cadastrados{
    margin-top: 10px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    background-color: green;
}

.button-cadastrados:hover{
    background-color: rgb(0, 66, 0);
    color: white;
    transition: 1s;
}

